
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

#custom 
/.vscode/
/test-results/
/playwright-report/
/blob-report/
.env
reporting-labs.history.json
.features-gen/
reporting-labs/
reports/